@charset 'utf-8';

html {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}

input, textarea, button { 
    border: none; 
    background: none;
} 

@import '../vendor/normalize';