.video {
    .header__link-left a:hover {
        color: $video-main-color;        
    }

    .category-buttons__dot:hover path {
        fill: $video-secondary-color !important;
    }

    .accent-color {
        color: $video-main-color;
        fill: $video-main-color;
    }

    .accent-secondary-color {
        color: $video-secondary-color;
        fill: $video-secondary-color;
    }

    .accent-main-color-background {
        background: $video-main-color;
    }

    .accent-secondary-color-background {
        background: $video-secondary-color;
    }

    .logo--dark path {
        fill: $video-main-color !important;   
    }
}