
# Plugin [wp-contact-form-7] whitelist START
SetEnvIf Request_URI "/plugins/contact-form-7/wp-contact-form-7.php$" d9a726e6080480da3347b7ec40738d38
SetEnvIf Request_URI "/plugins/wp-contact-form-7/(.*).php$" d9a726e6080480da3347b7ec40738d38
# Plugin [wp-contact-form-7] whitelist END

# Plugin [main] whitelist START
SetEnvIf Request_URI "/plugins/edge-cpt/main.php$" d9a726e6080480da3347b7ec40738d38
SetEnvIf Request_URI "/plugins/main/(.*).php$" d9a726e6080480da3347b7ec40738d38
# Plugin [main] whitelist END

# Plugin [edgtf-instagram-feed] whitelist START
SetEnvIf Request_URI "/plugins/edge-instagram-feed/edgtf-instagram-feed.php$" d9a726e6080480da3347b7ec40738d38
SetEnvIf Request_URI "/plugins/edgtf-instagram-feed/(.*).php$" d9a726e6080480da3347b7ec40738d38
# Plugin [edgtf-instagram-feed] whitelist END

# Plugin [edgtf-twitter-feed] whitelist START
SetEnvIf Request_URI "/plugins/edge-twitter-feed/edgtf-twitter-feed.php$" d9a726e6080480da3347b7ec40738d38
SetEnvIf Request_URI "/plugins/edgtf-twitter-feed/(.*).php$" d9a726e6080480da3347b7ec40738d38
# Plugin [edgtf-twitter-feed] whitelist END

# Plugin [envato-market] whitelist START
SetEnvIf Request_URI "/plugins/envato-market/envato-market.php$" d9a726e6080480da3347b7ec40738d38
SetEnvIf Request_URI "/plugins/envato-market/(.*).php$" d9a726e6080480da3347b7ec40738d38
# Plugin [envato-market] whitelist END

# Plugin [js_composer] whitelist START
SetEnvIf Request_URI "/plugins/js_composer/js_composer.php$" d9a726e6080480da3347b7ec40738d38
SetEnvIf Request_URI "/plugins/js_composer/(.*).php$" d9a726e6080480da3347b7ec40738d38
# Plugin [js_composer] whitelist END

# Plugin [woocommerce] whitelist START
SetEnvIf Request_URI "/plugins/woocommerce/woocommerce.php$" d9a726e6080480da3347b7ec40738d38
SetEnvIf Request_URI "/plugins/woocommerce/(.*).php$" d9a726e6080480da3347b7ec40738d38
# Plugin [woocommerce] whitelist END

# Plugin [sh_wp_version_hider] whitelist START
SetEnvIf Request_URI "/plugins/sh_wp_version_hider.php$" d9a726e6080480da3347b7ec40738d38
SetEnvIf Request_URI "/plugins/sh_wp_version_hider/(.*).php$" d9a726e6080480da3347b7ec40738d38
# Plugin [sh_wp_version_hider] whitelist END
# Theme [kaboom] whitelist START
SetEnvIf Request_URI "/themes/kaboom/(.*).php$" d9a726e6080480da3347b7ec40738d38
# Theme [kaboom] whitelist END


###########################################################################

<FilesMatch "\.(php)$">
Order Deny,Allow
Allow from env=d9a726e6080480da3347b7ec40738d38
Deny from all
</FilesMatch>


###########################################################################

