# sh_block_time=1668213398
# Засечен е съмнителен достъп до инсталацията. От съображения за сигурност, HTTP достъпът до администрацията е ограничен от СуперХостинг.БГ.
# Препоръчваме да активирате достъпа до администрацията на сайта само за Вас, чрез добавянето на реда "Allow From xxx.xxx.xxx.xxx"
# като xxx.xxx.xxx.xxx е Вашия IP адрес. Можете да проверите кой е той на следния линк: https://ip.superhosting.bg/
# Този ред се поставя веднага след реда: Deny from all
#Deny from all

<Files admin-ajax.php>
Order Allow,Deny
Allow from All
Satisfy Any
</Files>


